ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=https://+:443;http://+:80
ASPNETCORE_ConnectionStrings__ApplicationDbContext=Data Source=/app/Data/Todo.db
ASPNETCORE_Kestrel__Certificates__Default__Password=123456
ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx